body {
    background-image: url(../images/food.png);
}

a {
    color: black;
}

a:hover{
    color: blue;
}

p {
    line-height: auto;
}

header{
    margin-top: 0;
}

img {
    width: 50%;
}

.top-section {
    text-align: center;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    float: left;
    width: 38%;
}

aside{
    float: right;
    width: 50%;
}

footer {
    text-align: center;
    line-height: 0px;
    margin-top: 450px;
}